@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.wrap{
    max-width: 1050px;
    margin: 0 auto;
}

.title{
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 10px;
}

.description{
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 80px;
}

/* header.top */
.top{
    background-color: rgb(243, 243, 243);
    padding-bottom: 120px;
}

.top__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__container h3{
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.top__container ul{
    display: flex;
    list-style-type: none;
    margin: 40px 0;
}
.top__container a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-left: 21px;
}
.top h1{
    color: rgb(37, 43, 66);
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}
.top h4{
    color: rgb(115, 115, 115);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 40px;
}
.top__buttons{
    text-align: center;
}
.top__buttons--left{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    border-radius: 37px;
    background: rgb(255, 166, 43);
    border: none;
    /* padding: 10px 36px; */
    width: 187px;
    height: 48px;
    margin-right: 5px;
}
.top__buttons--right{
    color: rgb(0, 160, 193);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    border: 1px solid rgb(0, 160, 193);
    border-radius: 37px;
    width: 157px;
    height: 48px;
    margin-left: 5px;
}

/* section.choose */
.choose{
    padding: 145px 0 100px;
}
.choose__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choose__element{
    flex-basis: 328px;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    background: rgb(255, 255, 255);
    padding: 35px 40px;
    margin-bottom: 30px;
}
.choose__element--title{
    display: flex;
    align-items: center;
    
}
.choose__element--title h5{
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    margin: 0 0 0 15px;
}
.choose__element--description{
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    margin: 15px 0 0 0;
}

/* section.team */
.team{
    border-top: 1px solid gray; /* убрать */
    padding: 80px 0 92px;
}

